<!DOCTYPE html>
<html>
    
    <head> <link rel="stylesheet" href="./css/style.css">
    
    </head>
<body>
    {{>header}}
    <div class="bod11"><b>DIFFERENT NUORI SHOPS</b></div>
<br>
<a href="https://www.goodhousekeeping.com/beauty/hair/g28799272/best-hair-products/" title="visit our shop"><div class="cont">
    <img src="/img/hair1.jpg" alt="" class="image"/>
    <div class="overlay overlayLeft">
        <div class="text">hair shop</div>
    </div>
</div></a>
<a href="https://www.thebodyshop.in/range.html" title="visit our body shop">
<div class="cont">
    <img src="/img/lotion1.jpg" alt="" class="image"/>
    <div class="overlay overlayRight">
        <div class="text">body shop</div>
    </div></a>
</div>
<a href="https://www.thefaceshop.in/" title="visit our facial shop">
<div class="cont">
    <img src="/img/creame1.jpg" alt="" class="image"/>
    <div class="overlay overlayFade">
        <div class="text">facial cream shop</div>
    </div>
</div></a>

</body>
</html>