<!DOCTYPE html>
<html>
    <head> <link rel="stylesheet" href="./css/style.css"></head>
<body>
    {{>header}}
    <h2>{{title}}</h2>
    <pre>
       
<div id="parent">
    <div class="red"></div>
    <div class="green"></div>
    
   <div class="parca11"> <b style="margin:0%">
                 What is clean awakening?</b> <p class="parca">
            Clean Awakening is a moment that exists in a small silver 
            of time.Acultural resting-stopbetween the last hundred years
            past and the next hundred years coming.It ia s human moment
            where a generation becomes internally aware of the past decades 
            of mindlessconsumption, over-indulgence of the quick,cheap & 
            artificial and glorification of the objectified gaze.
        </div></div>


<br><br>
</pre>
<br/>
<pre>

<div id="parent">
    <div class="red1"></div>
    <div class="green1"></div>

<div class="alr">
<p class="a2"><b >This is when you decide to</b></p>
<p class="a1"><b>unlearn,undo,undress</b></p>
<p class="a2"><b>years of artice and adopt a clean way
                 of being,doing and seeing</b></p><p class="a6">
          you make coices for yourself that apart from taking 
          care of you takes cares of the delicate balance in 
          which the beauty and the treasure of the world exists.
          You give as you take.You care,nurture,respect and take 
          pride in all the that is natural in yourslf first and
          then everywhere else. </p></div>
</div>
</pre>

<pre>
<div id="parent">
    <div class="white"></div>
<div class="white1">
    
<p  style="color:yellow ;font-size:xx-large"><b>Clean Awakening</b></p><p class="a2">
is that consciousness.The feeling  that makes you choose
things that are good for your soul,mind,body,pride,identity,
culture,community,humanity,the earth and its abudance.</p>
</div></div>
<br/><br>
</pre>
<pre><br>
<div id="parent">
    <div class="blue"></div>
<div class="blue1"><p class="head1">
<b>It is your inner voice telling you 
to stop & smell the roses</b></p ><p class="a2">
  It is the way-of-being you adopt when you take pride in the balance between beauty and
  imperfection.It is your gaze when you see value in what is good inside-out.It is your
  mind when you choose sustainable things over pop-and-zz overindulgence.</p></div></div>
</pre>


</body>

</html>