<!DOCTYPE html>
<html>
    
    <head> <link rel="stylesheet" href="./css/style.css">
    </head>
   <style> 
      p{
        text-align:center;
      }
   </style>
<body>
    
    {{>header}}
    <p>
<div class="intro"><h1 class="ani1">Creators - Jasmi Bonnén<br>
Interview by Laura Vanagaite</h1></div>
    <img src="/img/found1.jpg" alt="" class="centre"></p>


    <div class="arial"><blockquote><p>
<b>It is all about the product. No matter how well your marketing plan, sales strategy, or social media initiatives are executed, in the end, if the consumer does not fall in love with your product it doesn’t work.</p>
</b></p></blockquote></div>
<p>We spoke to Jasmi Bonnén, founder and CEO of Danish skincare brand <a href="https://www.nuori.com/" rel="noopener noreferrer" target="_blank">NUORI</a>. She told us what it means to run a successful skincare brand, why she’s taken a minimalist approach to NUORI’s packaging design, and discusses the challenges of product formulation.</p>
<div class="fontt"><p>Jasmi, could you tell us what made you want to start your own personal skincare brand, 
    NUORI? What interested you the most in this area?</p></div>
<p>The idea for my own skincare range came to me while I was working at L’Oréal. This was over 10 years ago, 
    and at the time we were implementing the new EU rules for labelling of cosmetics. One of the new requirements was that all cosmetic products should have a visible expiry date. But there was an exception to this rule: If a product has a minimum durability of more than 30 months (meaning 2.5 years or more), it does not need to have an expiry date. Not surprisingly, these 30 months very quickly became the industry standard for shelf life.</p>
<p>When I became aware of this fact, I began looking for information about the effect of time on cosmetics. I was surprised to find several studies showing that commonly used active ingredients, such as vitamins, start losing their beneficial properties in just a matter of a few months after blending because of oxidation. Another downside of long shelf lives is the use of synthetic preservatives and other additives, which are needed to preserve and stabilise the formulas over time.</p>
<p>I became more and more convinced that there was a need for a fresh skincare alternative on the market.
     And it is almost three years ago, I finally gathered up the courage to quit my comfortable corporate job
      and take the frightening leap into entrepreneurship.</p></div>
   


</body>

</html>