<!DOCTYPE html>
<html>
    
    <head> <link rel="stylesheet" href="./css/style.css">
    <script src='/js/app1.js'> </script>
    </head>
<body>
    
    {{>header}}
    
    <h2>{{title}}</h2>
    <p>
NUORI Skincare<br>
NUORI, a natural cosmetics brand from Denmark, uses only natural ingredients in their product formulations.
 The fresh, young and dynamic collection is free from synthetic fragrances, preservatives and dyes. 
 Premium protective packaging is used in order to minimise exposure to air, 
light and bacteria before and during use. Highly efficient formulas and pureness without compromise</p>
    
</body>

</html>