
<div class="conatiner">
    
    <img src="/img/nwal1.jpg" alt="">
<div>
    <pre>
    
<a  title="Home page.." rel="preconnect" href="/home"><b>Home</b></a>   <a title="abount founder..." rel="preconnect" href="/f"><b>Founder</b></a>   <a title="different products.." href="/bod"><b>Category</b></a>   <a title="other information.." href="/ca"><b>Clean awakening</b></a>

    </pre>
<style> 
    body{
        background-color: teal;
    }
    a{
        text-decoration: none;
        border-bottom:0px;
    color:white;
    }
    
    a:hover{
        color:aqua;
}
a:active{
    text-underline-position: below;
    background-color: violet;
    color:yellowgreen;
}
     </style>

</div>